.App {
  text-align: center;
  min-height: 100vh;
  background-color: #e9ecef;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  margin-bottom: 0;
}

.userCircle {
  text-align: center;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: solid 1px #e8e8e8;
}

.expandButton {
  border: 1px solid lightgray;
  padding: 4px 8px;
  float: right;
}

footer {
  text-align: center;
  background-color: #343a40;
  min-height: 56px;
  padding: 8px 16px;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footerLink {
  color: #fff;
  margin: 0.5rem;
  padding: 0;
  display: inline;
  font-size: 2rem;
}

.footerLink:hover {
  color: gray;
}

.footnote {
  font-size: 0.8rem;
  margin-bottom: 0;
}
